
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  background-color: #182C61;
  border-bottom: 5px solid rgb(222, 155, 155);
  padding: 20px;
  font-weight: 700;
  font-size:25px;
  color:rgb(203, 203, 203);
  width: 100%;
}
.textField{
  margin-top: 30px;
}
#outlined-basic{
  margin-right: 20px;
}
.addBtn{
  margin-top: 30px;
}